
@import "compass";
/*HEAD*/
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;


}
body{
 
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    background-position: left;
}
.white {
    background-color:white;
}
.menu {
    width: 100%;
    height: 75px;
    z-index: 99;
    background-color: white;
    position: fixed;
    background-color:white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.menu .logo img{
    margin:20px  0 0 40px;
    float: left;
    height:50%;
    width: auto;
}

.light-menu {
    width: 100%;
    height: 75px;
    background-color:white;
    position: fixed;
 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul:not(.select-list)  {

      padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
#menu-center ul li:not(.select-list--item) {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
    color: black;
    padding:10px;
     text-decoration: none;

}

#menu-center ul li a{
       color: black;
        padding:10px;
   line-height: 50px;
    text-decoration: none;
}
#menu-center ul li a:hover {

    color: black;
    text-decoration: none;
 
    border-bottom: 2px solid #EA920B;
    transition:0.1s;
}

 .select {
user-select: none;
    width: 350px;
    margin-top: -5.2%;
    right: 0;
    padding-left: 50%;
    float: right;

}
.select-top {
  border-radius: 2px;
  cursor: pointer;
  background:white;
  width:80px;
 
  color:black;
 padding: 0;
  line-height: 40px;
 text-align: left;
  font-size: 12px;
  position: relative;

  border-bottom: 2px solid #ccc;

}
.select-top:after {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #ccc transparent transparent transparent;
}
.select-top-is-active:after {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.select-list {
  display: none;
  list-style: none;
  margin: 0;
  width: 80px;
  padding-left: 0;
  background:#333;
}
.select-list--item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, .1);
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  color: #ccc;
}
.select-list--item:hover {
 color:white;
}


/*MANUAL*/
.manual {
  width: 100%;
  padding-top:5%;
padding-bottom: 5%;
margin-right: -5%;
  font-family: 'Poppins';
  background-color: white;
}
.manual a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.manual  h1 {
  text-align: center;
  margin-bottom: 1em;
}
.manual .container{
  width: 55%;
  text-align: justify;
 padding:3% 0;

}
 
.manual >.title{
  display: block;
  margin: 0 auto;
  text-align: justify;

} 
.manual .title article {
  font-size:1.5em;
  font-weight: 600;
  margin-right: 2em; 
  float: left;

}





.library .books {
  padding: 0;
  text-align: center;
}

.library .books .cover_main{
    display: inline-block;
  position: relative;
  z-index: 1;
  width: 12em;
  height: 18em;
  margin-top:5em;

  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  -webkit-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  box-shadow: 10px 8px 6px -10px black;
  transition: 0.5s;
}

.library .books .cover_main:hover  {
cursor: pointer;
  -moz-transform: perspective(500px) rotateY(-22deg);
  -ms-transform: perspective(500px) rotateY(-22deg);
  -webkit-transform: perspective(500px) rotateY(-22deg);
  transform: perspective(500px) rotateY(-22deg);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 10px 8px 20px -10px black;
}
.library .books  .description {
  text-align: center;
  margin:2em 0;
}
.library .books  .description  article {
  font-size:1em;
  font-weight: 600;
}
.library .books  .description  p {
  font-size: 0.8em;
}
 
 .library  .modal-footer {
 margin-top:-20%;
 margin-right: 10%;
 border:none;
    text-align: right;
    position: relative;
    z-index: 99;
     
}

 @media only screen and (max-width : 520px) {
.manual {
  
margin-right: 0;
 
}
.title h1 {
        margin: 8rem 0 2rem 0;
  font-size: 2rem;
}
.title.container {
  width: 85%; 
    text-align: justify;
    padding: 3% 0;

}

 .manual .title article {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem;
    margin-right: 0; 
    float: none; 
    text-align: center;
}
.manual h1 {
    text-align: center;
    font-size: 2rem;
    /* margin-bottom: 1em; */
}
#flipbook, #flipbook2, #flipbook3, #flipbook4 {
 
    display: none !important;
  }
.library .modal-footer {
      margin-top:  0; 
      margin-right:0;  
    border: none;
    text-align: right;
    position: relative;
    z-index: 99;
    top: 45%;
    left: -30%;
}
.btn {
background-color: white !important;

}
}
/*FOOTER*/
 footer{ 
  
  width:100%;
  background-color: #333; 
  color: white;
  height: auto;
  bottom: 0;
  display: table;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
}


@media only screen and (max-width : 520px) {

    footer .social{
padding-top: 5%;
float: none  ;
text-align: center ;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}


  }


@media only screen and (min-width: 1024px) and (max-width :1400px){
.manual .container {
    width: 75%;
}
}
@media only screen and (min-width: 768px) and (max-width :960px) {
 .manual .container {
    width: 80%;
    text-align: justify;
    padding: 3% 0;
}
  footer p {
    margin-top: 2%;
 margin-left: 0% !important; 
    margin-right: 0% !important; 
}
}