/*HEAD*/
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}
body{
 
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    background-position: left;
}
.white {
    background-color:white;
}
.menu {
    width: 100%;
    height: 75px;
    z-index: 99;
    background-color: white;
    position: fixed;
    background-color:white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.menu .logo img{
    margin:20px  0 0 40px;
    float: left;
    height:50%;
    width: auto;
}

.light-menu {
    width: 100%;
    height: 75px;
    background-color:white;
    position: fixed;
 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul:not(.select-list)  {

      padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
#menu-center ul li:not(.select-list--item) {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
    color: black;
    padding:10px;
     text-decoration: none;

}

#menu-center ul li a{
       color: black;
        padding:10px;
   line-height: 50px;
    text-decoration: none;
}
#menu-center ul li a:hover {

    color: black;
    text-decoration: none;
 
    border-bottom: 2px solid #EA920B;
    transition:0.1s;
}

 .select {
user-select: none;
    width: 350px;
    margin-top: -5.2%;
    right: 0;
    padding-left: 50%;
    float: right;

}
.select-top {
  border-radius: 2px;
  cursor: pointer;
  background:white;
  width:80px;
 
  color:black;
 padding: 0;
  line-height: 40px;
 text-align: left;
  font-size: 12px;
  position: relative;

  border-bottom: 2px solid #ccc;

}
.select-top:after {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #ccc transparent transparent transparent;
}
.select-top-is-active:after {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.select-list {
  display: none;
  list-style: none;
  margin: 0;
  width: 80px;
  padding-left: 0;
  background:#333;
}
.select-list--item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, .1);
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  color: #ccc;
}
.select-list--item:hover {
 color:white;
}

/*BLOG*/
 
.blog_content  {
  padding-top:5%;
padding-bottom: 5%;
height:auto;
bottom: 0;
display: block;
 min-height: 100%;
  font-family: 'Poppins';
  background-color: white;
 
    color: #444;
}
.blog_content   h1 {
  text-align: center;
}
 .blog.container {
 
 width: 55%;
    margin: 20px auto;
    font: normal 13px/100% sans-serif;
    color: #444;


}
.blog{
  padding-top: 2%;
}
.blog  div {
    display:none;
    padding: 10px;
    
    margin-bottom: 5px;
   
}
.blog_content #loadMore {
    padding: 10px;
    text-align: center;
    color: #373737;
  display: block;
  margin: 0 auto;
  width: 15em;
  border:2px solid #ccc;
  text-decoration: none;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.blog_content #loadMore:hover {
    background-color: #fff;
    color: #ccc;
    text-decoration: none;

}
 .blog_content #loadMore:visited{
  text-decoration: none;
 }
 .blog_content #loadMore img{
  margin-left:  1em;
  transition: 1s;
  height: 16px;
 }
  .blog_content #loadMore img:hover{
 
  
 }
.blog   .container {
  width: 55%;
}
.blog   h1{
  text-align: center;
  margin-bottom: 5%;
}
.blog   >div {
  text-align: center;
}
.blog  span{
  font-size: 0.7em;
  color:#737373;
  font-weight: 600;
  padding: 1.5em;
}
.blog  img {
  transition: 0.9s;
  height: 20em;
}
.blog  img:hover{
        box-shadow:0 0 10px rgba(0,0,0,0.5);
        -webkit-transform: translateY(-2em);
        transition: 0.9s;
        transform: translateY(-2em);
}
.blog   article {
  font-weight: 600;
  padding: 1em;
}
.subscribe_blog {
  background-color: white;
  padding: 0.5em  0;
  border-top: 1px solid #ccc;


}
 .subscribe_blog article {
  font-size: 1.5em;
  text-align: center;
  margin: 2em;
 }
.subscribe_blog form {
  width: 30em;
  display: block;
  margin: 0 auto;
 }
.subscribe_blog .group         { 
    display: block;
  margin: 0 auto;
  position:relative; 
  margin-bottom:45px; 
}
.subscribe_blog input[type=text]         {

  font-size:18px;
  padding:10px 10px 10px 0px;
  display:block;
  width:24em;
  border:none;
  border-bottom:2px solid #ccc;
  margin-bottom: 2em;
}
.subscribe_blog input[type=submit] {
  display: block;
  margin: 0 auto;
    background-image: url(img/arrow_right.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 6em;
    height: 3em;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: 0;

}
.subscribe_blog input:focus     { outline:none; }

/* LABEL ======================================= */
.subscribe_blog label          {
  color:#ccc; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
}

/* active state */
.subscribe_blog input:focus ~ label, .subscribe_blog input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#ccc;
}

/* BOTTOM BARS ================================= */
.subscribe_blog .bar  { position:relative; display:block; width:300px; }
.subscribe_blog .bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:red; 
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
}
.subscribe_blog .bar:before {
  left:50%;
}
.subscribe_blog.bar:after {
  right:50%; 
}

/* active state */
.subscribe_blog input:focus ~ .bar:before, .subscribe_blog input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.subscribe_blog .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}


 .share_article p {
 overflow: hidden;
 text-align: center;
 font-size: 0.8em;
 color: #333;
 font-weight: 550;
}
 .share_article p:before,
 .share_article p:after {
 background-color: #ccc;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 60%;
}
.share_article {
  padding: 2% 0;
}
 .share_article p:before {
 right: 1em;
 margin-left: -60%;
}
  .share_article p:after {
 left: 1em;
 margin-right: -60%;
}
 .share_article{
  text-align: center;
}
 .share_article > .social  {
text-align: center;
}
 .share_article > .social img {
  height: 2em;
  margin: 0.3em;

}
/*FOOTER*/
 footer{ 
     
  width:100%;
  background-color: #333; 
  color: white;
  height: auto;
  bottom: 0;
  display: table;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
}





@media only screen and (max-width : 520px) {
body{
         background-image:none !important;
}
.blog_content h1 {
    text-align: center;
    padding-top: 15%;
}
 .subscribe_blog input[type=submit] {
    display: block;
    margin-left: 35%;
  }
  .blog.container{
    width: 100%;
  }
footer .social{
padding-top: 5%;
float: none !important;
text-align: center!important;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}

}
@media only screen and (min-width: 1024px)and (max-width : 1280px) {
.blog.container {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width :960px) {
   .blog.container {
   
      width: 80%;
    }
  .blog_content {
    padding-top: 10%;
  }
 .col-xs-12 {
    width: 50%;
}

  footer p {
    margin-top: 2%;
 margin-left: 0% !important; 
    margin-right: 0% !important; 
}
}