* {
  box-sizing: border-box;
}
 html {
  min-height: 100%;
  position: relative;
}
body{
    background: none;
}
/*PRODUCTS*/

.products_list{
    background-color: white;
width: 100%;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
justify-content: space-between;
padding-top: 5%;
margin-bottom: 0;
}
.products_list .container{
    width: 50%;
}
.products_list h5,h4,h1,p{
    text-align: center;
}
.products_list h1{
    padding:    0;
    font-size: 3em;

}
.products_list img {
    display: block;
    margin:0 auto;
    height: 10em;
    margin-bottom: 2em;
}
.products_list .container >div {
    padding: 2em;
}
.products_list .ribbon-wrapper {
  width: 85px;
  height: 80px;
  overflow: hidden;
  position: absolute;
}
.products_list .ribbon {
    font: bold 10px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 5px 0;
    top: 10px;
    left: -20px;
    width: 90px;
    background-color:  #37C36B;
    color: #fff;
}
 footer{ 
  
  width:100%;
  background-color: #333; 
  color: white;
  height: auto;
  bottom: 0;
  display: table;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
}
 

@media only screen and (max-width : 640px) {
.products_list h1{

    padding-top: 20%;
}
.products_list .container {
    width:100%;
 margin-bottom: 5%;
    text-align: justify;
}
.col-xs-6{
    text-align: justify;
}
.product_list .description{
    text-align: justify;
    display: block;

}
.products_list {
    height: auto;
  }
.products_list .container >div {
    padding: 1em;
}
.products_list h1 {
 
    font-size: 2em;
}
.products_list img {
 
    height: 8em;
  }

footer .social{
padding-top: 5%;
float: none;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}
}
@media only screen and  (min-width: 1024px) and (max-width : 1300px) {

.products_list .container {
    width: 70% ;
}
}
@media only screen and (min-width: 768px) and (max-width :960px) {
  .products_list {
    padding-top: 10%;
    height: auto;
  }
  .products_list .container {
    width: 80%;
  }
  footer p {
    margin-top: 2%;
 margin-left: 0%; 
    margin-right: 0%; 
}
}