
@import "compass";
/*HEAD*/
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}
body{
 
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    background-position: left;
}
.white {
    background-color:white;
}
.menu {
    width: 100%;
    height: 75px;
    z-index: 99;
    background-color: white;
    position: fixed;
    background-color:white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.menu .logo img{
    margin:20px  0 0 40px;
    float: left;
    height:50%;
    width: auto;
}

.light-menu {
    width: 100%;
    height: 75px;
    background-color:white;
    position: fixed;
 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul:not(.select-list)  {

      padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
#menu-center ul li:not(.select-list--item) {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
    color: black;
    padding:10px;
     text-decoration: none;

}

#menu-center ul li a{
       color: black;
        padding:10px;
   line-height: 50px;
    text-decoration: none;
}
#menu-center ul li a:hover {

    color: black;
    text-decoration: none;
 
    border-bottom: 2px solid #EA920B;
    transition:0.1s;
}

 .select {
user-select: none;
    width: 350px;
    margin-top: -5.2%;
    right: 0;
    padding-left: 50%;
    float: right;

}
.select-top {
  border-radius: 2px;
  cursor: pointer;
  background:white;
  width:80px;
 
  color:black;
 padding: 0;
  line-height: 40px;
 text-align: left;
  font-size: 12px;
  position: relative;

  border-bottom: 2px solid #ccc;

}
.select-top:after {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #ccc transparent transparent transparent;
}
.select-top-is-active:after {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.select-list {
  display: none;
  list-style: none;
  margin: 0;
  width: 80px;
  padding-left: 0;
  background:#333;
}
.select-list--item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, .1);
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  color: #ccc;
}
.select-list--item:hover {
 color:white;
}

/*PRODUCT LIST*/
.product_card  {
  padding-top:10%;
padding-bottom: 5%;
 
bottom: 0;
display: block;
 min-height: 100%;
  font-family: 'Poppins';
  background-color: white;
 
    color: #444;
}
.product_card    h1 {
  text-align: center;
}
 .product_card .carousel-inner.vertical {
   
    height: 100%;
    width: 80%;

 /*Note: set specific height here if not, there will be some issues with IE browser*/
}
 
  .product_card .carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
   
}
  .product_card .carousel-inner.vertical > .item  .mini {
  margin-top: 10%;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
    article {
    font-size: 3em;

  }
   #carousel-pager  .carousel-control.left{
  top:-8%;
}
  #carousel-pager .carousel-control.right{
  bottom: -10%;
} 
#carousel-pager .carousel-control{
  color:#333;
  font-size: 15px;
  background-image: none;
  text-shadow: none;
}
#control_main > a{
display: none;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .product_card .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s linear;

    -o-transition: -o-transform .6s linear;
    transition: transform .6s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;

 

  }
    .product_card .carousel-inner.vertical > .item.next,
    .product_card .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 16.667%, 0);
    transform: translate3d(0, 16.667%, 0);
      

  }
    .product_card .carousel-inner.vertical > .item.prev,
    .product_card .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -16.667%, 0);
    transform: translate3d(0, -16.667%, 0);
     
 
  }
    .product_card .carousel-inner.vertical > .item.next.left,
    .product_card .carousel-inner.vertical > .item.prev.right,
    .product_card .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  
  
  }
}

  .product_card .carousel-inner.vertical > .active {
  top: 0;
}
  .product_card .carousel-inner.vertical > .next,
  .product_card .carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
  .product_card .carousel-inner.vertical > .next {
  left: 0;
  top: 16.667%;
  right:0;
}
  .product_card .carousel-inner.vertical > .prev {
  left: 0;
  top: -16.667%;
  right:0;
}
  .product_card .carousel-inner.vertical > .next.left,
  .product_card .carousel-inner.vertical > .prev.right {
  top: 0;
}
  .product_card .carousel-inner.vertical > .active.left {
  left: 0;
  top: -16.667%;
  right:0;
}
  .product_card .carousel-inner.vertical > .active.right {
  left: 0;
  top: 16.667%;
  right:0;
}

  .product_card #carousel-pager .carousel-control.left {
    bottom: initial;
  
    width: 80%;
}
  .product_card #carousel-pager .carousel-control.right {
    top: initial;
    width: 80%;
    left: 0;
       
}
  .product_card .social img {

height: 1.5em;

margin: 2% 2% 2% 0;

}
  .product_card .shop_on{
  margin-left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:0.4em;
  text-align: center;
  width:10em;
}
  .product_card  p{
    text-align: justify;
  }
  .product_card .shop_on span {
  font-size: 0.8em;
}
  .product_card .shop_on img {
margin-top: 0.3em;
  height: 1.2em;
}
  .product_card .shop_on a{
  color: black;
  text-decoration: none;
}
  .product_card .shop_on a:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  .product_card .product_description{
margin-top: 5%;
  background-color: #f7f7f7;
}
  .product_card .product_description .container {
  width: 60%;
  padding: 5% 0;

}
  .product_card .product_description article {
  font-size: 1.5em;
  text-align: center;
  
}
  .product_card .product_description p{
  text-align: justify;
  padding: 5% 0;

}

  .product_card .list_view{
  display: block;
  margin:0 auto; 
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
  color:black;
  width: 5em;
  padding: 5px;
  border-radius: 5px;
 border: 1.5px solid #ccc;
  font-size: 1em;
}
  .product_card .list_view:hover {
  text-decoration: none;
  color: black;
}
  .product_card .list_view img {
margin: -2px 5px 0 0; 
height: 0.9em;

}
 /**PRODUCT SLIDER***/
 .product a {
  color: #333;
  text-transform: capitalize;
  font-size: 20px;
}
.product .item a:hover{
    color: #EA920B;
}
 .product h3{

text-align: center;
margin:1.5em;
}

 .product a:hover {
  color: #ccc;
  text-decoration: none;
}
   .product .carousel-inner {
  margin: auto;
  width: 80%;
}
 .product .carousel-inner .item {
    min-height: 0px;
    transition: 0.5s;
 }
 .product .carousel-inner .item  h4 {
text-align: center;
  
 }
  .product .carousel-control {
  
  height:130px ;
  top:20%;
}

.product .carousel-control.left, .product .carousel-control.right {
  background-image: none;
}
.product .carousel-control img {
    height: 35px;
    background-color: #ccc;
    padding: 3px;
    border-radius: 30px;
}

  .product .carousel-inner a {
 width: 300px;
  height: 200px;
  vertical-align: middle;
}
 .product .carousel-inner img {
  max-height: 150px;
  margin: auto auto;
   width: auto;
  max-width: 100%;
}
@media (max-width: 767px) {
   .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
   .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px) {
   .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
 .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}

 @media only screen and (max-width : 520px) {

.product_card{
  padding-top: 25%;

}
.product_card #carousel-main  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
 
    margin: 0 auto;

    max-width: 80%;
 
}
.product_card #carousel-main .carousel-control {
 
    top: 45%;
     height: 0%; 
  padding: -10rem;
  width: 5%;
  
}
.product_card #carousel-main .carousel-control img{
 
    height: 20px;
  
}
 article, .product h3  {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}
.color {
  text-align: center;
}
#control_main a{
  display: block ;
}
#carousel-pager {
  display: none;
}
.carousel-control.left {

  background-image: none;
}
  .product_card .social{
    text-align: center;
    padding: 3rem;
  }
  .product_card .social img {

height: 3rem;
}
.product_card .shop_on {
  width: 100%;
  padding: 1rem;
}

.product_card .shop_on span {
  font-size: 2rem;

}
.product_card .product_description .container {
  width: 90%;
}

  .product .carousel-inner .active.left { left: -100%; }
  .product  .carousel-inner .next        { left:  100%; }
 .product  .carousel-inner .prev    { left: -100%; }
  .product  .active > div { display:none; }
  .product  .active > div:first-child { display:block; }

 }

/*FOOTER*/
 footer{ 
  
  width:100%;
  background-color: #333; 
  color: white;
  height: 25em;
  bottom: 0;
  display: block;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 10%;
}



@media only screen and (max-width : 520px) {

    footer .social{
padding-top: 5%;
float: none  ;
text-align: center ;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}


  }
@media only screen and (min-width: 768px) and (max-width :960px) {
 
.product_card{
  padding-top: 25%;

}
.product_card #carousel-main  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
 
    margin: 0 auto;

    max-width: 80%;
 
}
.product_card #carousel-main .carousel-control {
 
    top: 45%;
     height: 0%; 
  padding: -10rem;
  width: 5%;
  
}
.product_card #carousel-main .carousel-control img{
 
    height: 20px;
  
}
.product_card p {
    text-align: justify;
    font-size: 2rem;
}
 article, .product h3  {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}
.product_card .social img {
    height: 2.5em;
    margin: 2% 2% 2% 0;
}
.product_card .shop_on {
    margin-left: 40%;
     font-size: 1.5em;
    width: 15em;
}
.product_card .shop_on span {
    font-size: 1em;
}
.color {
  text-align: center;
}
#control_main a{
  display: block ;
}
#carousel-pager {
  display: none;
}
.carousel-control.left {

  background-image: none;
}
.product {
    margin-top: 0 !important;
}
.product  .col-sm-6 {
    width: 25%;
}
  footer p {
    margin-top: 2%;
 margin-left: 0% !important; 
    margin-right: 0% !important; 
}
}
