  
/*HEAD*/

@import "compass";
/*HEAD*/
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}
body{
 
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    background-position: left;
}
.white {
    background-color:white;
}
.menu {
    width: 100%;
    height: 75px;
    z-index: 99;
    background-color: white;
    position: fixed;
    background-color:white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.menu .logo img{
    margin:20px  0 0 40px;
    float: left;
    height:50%;
    width: auto;
}

.light-menu {
    width: 100%;
    height: 75px;
    background-color:white;
    position: fixed;
 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul:not(.select-list)  {

      padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
#menu-center ul li:not(.select-list--item) {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
    color: black;
    padding:10px;
     text-decoration: none;

}

#menu-center ul li a{
       color: black;
        padding:10px;
   line-height: 50px;
    text-decoration: none;
}
#menu-center ul li a:hover {

    color: black;
    text-decoration: none;
 
    border-bottom: 2px solid #EA920B;
    transition:0.1s;
}

 .select {
user-select: none;
    width: 350px;
    margin-top: -5.2%;
    right: 0;
    padding-left: 50%;
    float: right;

}
.select-top {
  border-radius: 2px;
  cursor: pointer;
  background:white;
  width:80px;
 
  color:black;
 padding: 0;
  line-height: 40px;
 text-align: left;
  font-size: 12px;
  position: relative;

  border-bottom: 2px solid #ccc;

}
.select-top:after {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #ccc transparent transparent transparent;
}
.select-top-is-active:after {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.select-list {
  display: none;
  list-style: none;
  margin: 0;
  width: 80px;
  padding-left: 0;
  background:#333;
}
.select-list--item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, .1);
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  color: #ccc;
}
.select-list--item:hover {
 color:white;
}




  /*RECIPES*/

.recipes  {
  background-color:white;
width: 100%;
height: 100%;
padding-top: 5%;
font-family: 'Poppins';
margin-bottom: 0;
}
 h1 {
  text-align: center;
 }
.recipes  #head_recipe .carousel{
    height: 28em;
} 
.recipes .carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;

}

.recipes .carousel-fade .carousel-inner .active {
  opacity: 1;
}

.recipes .carousel-fade .carousel-inner .active.left,
.recipes .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.recipes .carousel-fade .carousel-inner .next.left,
.recipes .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.recipes .carousel-fade .carousel-control {
  z-index: 2;
}
.recipes #Carousel .item  {
  
        transition:5s ease-in-out left;
  
      
    
}
/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.recipes .menu_recipes{ 
list-style-type: none;
    width: 100%;
 margin: 0 auto;
        bottom: 0;
        line-height: 1;

 }
 
.recipes .menu_recipes  li{ 
 color: black;
 font-size: 600;
            display: inline-block;
            padding: 10px ;
            line-height: 1;
            margin: 10px;
            text-decoration: none;

 }
 .recipes .menu_recipes  li a{ 
 color: black;
 font-weight: 600;
}
 .recipes .menu_recipes  li a:hover{
    text-decoration: none;
    color: black;
 }

.recipes_item{
  background-color:white;
width: 100%;
height: 100%;
padding-top: 1%;
font-family: 'Poppins';
margin-bottom: 0;
}
.recipes_item  h1{
  margin: 2em;
}


/*RECIPE DROID */
.recipes_item  .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.recipes_item .carousel-control {
  top:20%;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.recipes_item  .carousel-control.left, .carousel-control.right {
     margin-left: 0px;
   
}



/*RECIPE OG THE DAY */
.recipe_of_the_day{
  background-color:white;
 
padding-top: 1%;
font-family: 'Poppins';
margin-bottom: 0;
}
.recipe_of_the_day .container {
  max-width: 100%;
  margin: 0 auto;
}
.recipe_of_the_day  h1{
  margin: 2em;
}
.recipe_of_the_day .photos {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 1920px;
}

.recipe_of_the_day .photos news-2 {
  display: block;
  float: left;
  flex: 0 0 auto;
  background-color: #fff;
}
.recipe_of_the_day .news-2 .has-bg{
    width:90%;
height:50rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 300ms ease-in;
}


 

.recipe_of_the_day .news-2{
    display:block;
    margin: 5px auto;
}

.recipe_of_the_day .news-2{
    position:relative;
    min-height:121px;
    width:100%;
    overflow:hidden;
}

.recipe_of_the_day .news-2 .mask{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: black;
    opacity: 0;
    transition: opacity 600ms ease-in;
}
.recipe_of_the_day .news-2:hover .has-bg{
    transform-origin:center!important;
    transform: scale(1.1) ;
    transition: 1.5s;
}

.recipe_of_the_day .news-2:hover .mask{
    opacity:.45; 
}
.recipe_of_the_day .description{
    position: absolute;
    top:35%;
    width: 100%;
    text-align: center;
    color: #fff;

}
.recipe_of_the_day .description h4{
    font-weight: 600;

}
.recipe_of_the_day .description p{

    width: 30em;
    margin: 0 auto;
}
.recipe_of_the_day span.heading{
    position: absolute;
    top:60%;
    width:100%;
    text-align:center;
    font-weight:700;
    letter-spacing:3px;
    color:#fff;
    opacity:0;
    transition: opacity 1000ms ease, 
}
.recipe_of_the_day .news-2:hover i, .news-2:hover span.heading{
    opacity:1;  
}

.recipe_of_the_day .view_more{
  position: relative;
  background:transparent;
  border:none;
  font-size:15px;
  padding: 10px 20px;
  color:#fff;
  font-weight: 500;
      -webkit-transition: text-shadow .4s ease;
    -moz-transition: text-shadow .4s ease;
    -o-transition: text-shadow .4s ease;
    transition: text-shadow .4s ease;
  /* for demo delete this*/

  top: 40%;
  
}
.recipe_of_the_day .l-r-border:after,.l-r-border:before{
  content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    background-color:#fff;
    -webkit-transition: height .4s ease;
    -moz-transition: height .4s ease;
    -o-transition: height .4s ease;
    transition: height .4s ease;
  /*optional*/
  border-radius:50%;
  
}
.recipe_of_the_day .l-r-border:before{
      left: 0;
    bottom: 0;
}
.recipe_of_the_day .l-r-border:after{
    right: 0;
    top: 0;
}
.recipe_of_the_day .view_more:after ,.view_more:before{
  content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    background-color:#fff;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
  /*optional*/
  border-radius:50%;
}
.recipe_of_the_day .view_more:after{
  right: 0;
  bottom: 0;
}
.recipe_of_the_day .view_more:before{
    left: 0;
    top: 0;
}
.recipe_of_the_day .view_more:hover:after,.view_more:hover:before{
  width:100%;
}
.recipe_of_the_day .view_more:hover .l-r-border:before{
  height:100%;
}
 
.recipe_of_the_day .view_more:hover .l-r-border:after{
  height:100%;
}
.recipe_of_the_day .view_more:focus {
    outline:none;
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .recipe_of_the_day .photos .news-2 {
    width: calc(100%/1);
    height: calc(100%/1);
  }
        .recipe_of_the_day .news-2 .has-bg{
    height: 50rem;
  }
}

@media screen and (min-width: 1170px) and (max-width: 1600px) {
  .recipe_of_the_day .photos .news-2 {
    width: calc(100%/1);
    height: calc(100%/1);
  }
        .recipe_of_the_day .news-2 .has-bg{
    height: 50rem;
  }
}


@media screen and (min-width: 769px) and (max-width: 1170px) {
  .recipe_of_the_day .photos .news-2 {
    width: calc(100%/1);
    height: calc(100%/1);
  }
      .recipe_of_the_day .news-2 .has-bg{
    height: 50rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .recipe_of_the_day .photos .news-2 {
    width: calc(100%/1);
    height: calc(100%/1);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .menu_recipes ul {
    padding: 2% 0;
        margin-top: 6%;
    padding-left: 0;
  }
  .recipes .menu_recipes li {
    display: block;
    margin: 0 auto;
    text-align: center;
   
  }
.recipes .menu_recipes li a{
   font-size: 1.5rem;
    font-weight: 500  ;
}
  .recipes > h1{
    margin-top: 20%;
     font-size: 2rem;
  }
  .recipes  #head_recipe .carousel {
    height: 23em;
}
  #head_recipe .carousel-inner>.item>a>img, #head_recipe .carousel-inner>.item>img, #head_recipe .img-responsive,#head_recipe .thumbnail a>img, .thumbnail>img {

transform: scaleX(2.5);
width: 100%;
    height: 20em;
  }
  .recipe_of_the_day  h1{
  margin: 0 auto;
  font-size: 2rem;
}
  .recipe_of_the_day .news-2 .has-bg{
    height: calc(100%/2);
  }
 .recipe_of_the_day .photos .news-2 {
       width:100%;
    height: calc(100%/2);
  }
  .recipe_of_the_day .description p {
    width: 80%;
    font-size: 0.8em;
    margin: 0 auto;

}
.recipes_item  h1{
  margin:1rem;
  font-size: 2rem;
}

.recipe_of_the_day .description {
    
    top: 5%;
  }

}

/*FOOTER*/
  footer{ 
  
  width:100%;
  background-color: #333; 
  color: white;
  height: auto;
  bottom: 0;
  display: table;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
}


@media only screen and (max-width : 520px) {

    footer .social{
padding-top: 5%;
float: none  ;
text-align: center ;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}


  }

@media only screen and (width: 1024px)  {
  .recipes .menu_recipes li {
    
    display: table-cell;
    padding: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width :960px) {
 
  footer p {
    margin-top: 2%;
 margin-left: 0%; 
    margin-right: 0%; 
}
}