/*HEAD*/

@import "compass";
/*HEAD*/
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}
body{
 
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    background-position: left;
}
.white {
    background-color:white;
}
.menu {
    width: 100%;
    height: 75px;
    z-index: 99;
    background-color: white;
    position: fixed;
    background-color:white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.menu .logo img{
    margin:20px  0 0 40px;
    float: left;
    height:50%;
    width: auto;
}

.light-menu {
    width: 100%;
    height: 75px;
    background-color:white;
    position: fixed;
 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul:not(.select-list)  {

      padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
#menu-center ul li:not(.select-list--item) {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
    color: black;
    padding:10px;
     text-decoration: none;

}

#menu-center ul li a{
       color: black;
        padding:10px;
   line-height: 50px;
    text-decoration: none;
}
#menu-center ul li a:hover {

    color: black;
    text-decoration: none;
 
    border-bottom: 2px solid #EA920B;
    transition:0.1s;
}

 .select {
user-select: none;
    width: 350px;
    margin-top: -5.2%;
    right: 0;
    padding-left: 50%;
    float: right;

}
.select-top {
  border-radius: 2px;
  cursor: pointer;
  background:white;
  width:80px;
 
  color:black;
 padding: 0;
  line-height: 40px;
 text-align: left;
  font-size: 12px;
  position: relative;

  border-bottom: 2px solid #ccc;

}
.select-top:after {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #ccc transparent transparent transparent;
}
.select-top-is-active:after {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.select-list {
  display: none;
  list-style: none;
  margin: 0;
  width: 80px;
  padding-left: 0;
  background:#333;
}
.select-list--item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, .1);
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  color: #ccc;
}
.select-list--item:hover {
 color:white;
}

/*BLOG ARTICLE*/
.blog_article {
  padding-top:5%;
padding-bottom: 5%;
  font-family: 'Poppins';
  background-color: white;
}

.blog_article  h1 {
  text-align: center;
}
.blog_article .blog_author{ 
list-style-type: none;
 
 width:77%;
        bottom: 0;
        line-height: 1;

 }
 .blog_article .blog_author ul {
        padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: justify;

 }
 .blog_article .blog_author ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}
.blog_article .blog_author  li{ 
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    color: black;
    padding-left:0;
    font-size: 1.2rem;
    font-weight: 600;
     text-decoration: none;

 }
.blog_article .blog_author  li a{ 
 color: black;
 font-weight: 600;
}
.blog_article .blog_author  li a:hover{
    text-decoration: none;
    color: black;
 }
 .blog_article .blog {

  width: 70%;
  display: block;
  margin:0 auto;
 }
 .blog_article .blog article{
font-size: 1.9em;
padding: 2% 0;
font-weight: 600;

 }
.blog_article .blog p {
    text-align: justify;
    padding-top: 2em;
    font-size: 0.95em;
  }
  .blog_article .blog .author  article{
   font-size: 1em;
font-weight: 500; 
  }
    .blog_article .blog .author span{
      font-weight: 600;
    }
  .blog_article .blog .author  p{
text-align: left;
font-size: 0.8em;
padding-top: 0; 
  }
  .blog_article .share_article p {
 overflow: hidden;
 text-align: center;
 font-size: 0.8em;
 color: #333;
 font-weight: 550;
}
.blog_article .share_article p:before,
.blog_article .share_article p:after {
 background-color: #ccc;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 60%;
}
.blog_article .share_article p:before {
 right: 1em;
 margin-left: -60%;
}
.blog_article .share_article p:after {
 left: 1em;
 margin-right: -60%;
}
.blog_article .share_article{
  text-align: center;
}
.blog_article .share_article > .social  {
text-align: center;
}
.blog_article .share_article > .social img {
  height: 2em;
  margin: 0.3em;

}
.recommended_articles {
  top:0;
  bottom: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f7f7f7;
}
.recommended_articles .container {
  width: 55%;
}
.recommended_articles p{
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5%;
}
.recommended_articles >div {
  text-align: center;
}
.recommended_articles  span{
  font-size: 0.7em;
  color:#737373;
  font-weight: 600;
  padding: 1.5em;
}
.recommended_articles img {
  transition: 0.9s;
  height: 20em;
}
.recommended_articles img:hover
{
        box-shadow:0 0 30px rgba(0,0,0,0.5);
        -webkit-transform: translateY(-3em);
        transition: 0.9s;
        transform: translateY(-3em);
}
.recommended_articles article {
  font-weight: 600;
  padding: 1em;
}
.subscribe_article {
  background-color: white;
  padding: 5% 0 5% 0;

}
.subscribe_article article {
  font-size: 1.5em;
  text-align: center;
  margin: 2em;
 }
.subscribe_article form {
  width: 30em;
  display: block;
  margin: 0 auto;
 }
.subscribe_article .group         { 
    display: block;
  margin: 0 auto;
  width: 80%;
  position:relative; 
  margin-bottom:45px; 
}
.subscribe_article input[type=text]         {

  font-size:18px;
  padding:10px 10px 10px 0px;
  display:block;
  width:18em;
  border:none;
  border-bottom:2px solid #ccc;
  margin-bottom: 2em;
}
.subscribe_article input[type=submit] {
  display: block;
  margin: 0 auto;
    background-image: url(img/arrow_right.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 6em;
    height: 3em;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: 0;

}
.subscribe_article input:focus     { outline:none; }

/* LABEL ======================================= */
.subscribe_article label          {
  color:#ccc; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
}

/* active state */
.subscribe_article input:focus ~ label, .subscribe_article input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#ccc;
}

/* BOTTOM BARS ================================= */
.subscribe_article .bar  { position:relative; display:block; width:300px; }
.subscribe_article .bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:red; 
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
}
.subscribe_article .bar:before {
  left:50%;
}
.subscribe_article .bar:after {
  right:50%; 
}

/* active state */
.subscribe_article input:focus ~ .bar:before, .subscribe_article input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.subscribe_article .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}



/*FOOTER*/
 footer{ 
     
  width:100%;
  background-color: #333; 
  color: white;
  height: auto;
  bottom: 0;
  display: table;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
}



@media only screen and (max-width : 520px) {
body{
         background-image:none !important;
}
.blog_article .blog_author {
  
    width: 100%;
  
}
 .blog_article h1 {
    text-align: center;
    padding-top: 15%;
}
.blog_article .blog_author ul {
 padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: justify;
    padding-left: 0;
    padding-top: 3%;
 
}
.blog_article .blog_author li a {
    color: #333;
    font-weight: 400;
}
.blog_article .blog {
    width: 95%;
   
}
.blog_article .blog p {
  
    font-size: 1em;
}
.blog_article .blog .author article {
 
    margin-bottom: 5%;
 
}
.author img {
  margin:-0.5em 1.5em 0 0 !important;
}
.recommended_articles p {
 
    font-size: 1.2em;
  }
  .recommended_articles .container {
    width:100%;
}
 .subscribe_article input[type=submit] {
    display: block;
    margin-left: 35%;
  }
footer .social{
padding-top: 5%;
float: none !important;
text-align: center!important;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}

}

@media only screen and (min-width: 1024px) and (max-width :1400px){
.recommended_articles .container {
    width: 75%;
}
}
@media only screen and (min-width: 768px) and (max-width :960px) {
   .recommended_articles .container {
    width: 80%;
}
  .blog_content {
    padding-top: 10%;
  }
  .recommended_articles img {
    transition: 0.9s;
    height: 15em;
}
.recommended_articles span {
   
     padding:0; 
     } 
 .col-xs-12 {
    width:33.33%;
}
  footer p {
    margin-top: 2%;
 margin-left: 0% !important; 
    margin-right: 0% !important; 
}
}