@import "compass";
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
overflow-x: hidden;
   background-image: url('img/back.jpg') !important;
}
* {
  box-sizing: border-box;
}
 html {
  min-height: 100%;
  position: relative;
}
body{
 
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: left;
}
.white {
    background-color:white;
}
#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
     height: auto;
    background:white;
    padding: 0em;
    z-index: 999999999999999999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    overflow: hidden;
}
.logo img{
  margin:0 auto;
    padding:20px  0 20px 10%;
    float: left;
    height:5em;
    width: auto;
}

#navigation a:link, #navigation a:visited {
  text-decoration:none;
  color:black;
}
 
.toggle, #toggle {
    float: right;
    display: none;
    font-size: 1.5em;
    padding: 2rem;
    background-image: url("img/hamburger.png");
 
   background-position: center center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#menu{
     width: 85%;  
}
#menu ul:not(.select-list)  {

    margin: 0 auto;
}
nav {
  display: block;
  margin:0 auto;
  text-align: center;
}
nav li:not(.select-list--item)  {
    padding:0.8rem;
    margin-top: 1%;
 
text-align: center;
    display: inline-block;
    text-align: center;
     
}
nav li a{
  padding: 15px;
}
nav li a:hover  {
    color: black;
    text-decoration: none;
 
    border-bottom: 2px solid #EA920B;
    transition:0.1s;
    }

 .select {
user-select: none;
    width: 100px;
    
    right: 0;
    padding-left: 0;
    float: right;
z-index: 9999;
}
.select-top {
  border-radius: 2px;
  cursor: pointer;
  background:white;
  width:80px;
 
  color:black;
 padding: 0;
  line-height: 40px;
 text-align: left;
  font-size: 12px;
  position: relative;

  border-bottom: 2px solid #ccc;

}
.select-top:after {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #ccc transparent transparent transparent;
}
.select-top-is-active:after {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.select-list {
  display: none;
  list-style: none;
  margin: 0;
  width: 80px;
  padding-left: 0;
  background:#333;
}
.select-list--item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, .1);
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  color: #ccc;
}
.select-list--item:hover {
 color:white;
}




/* CAROUSEL ZOOM*/
/*@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1.5, 1.5);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}*/

@keyframes zoom {
  from {
    transition: all 1s cubic-bezier(0.1, -0.6, 0.2, 0);
      transform: scale(1.8);
  }
  to {
     transition: all 1s cubic-bezier(0.1, -0.6, 0.2, 0);
      transform: scale(1.4);
  }
}
#carousel-example {
  background-color: #efedee;
}
#carousel-example .carousel-inner .zoom img{
height: 40%;
 width: 80%;
}
#carousel-example .carousel-inner .zoom img{
  -webkit-animation: zoom 20s;
  animation: zoom 20s cubic-bezier(0.1, 0.5, 1);
}
.main-container {
  padding: 10px 15px;
  width: 100%;
  min-height: 500px;
}
#carousel-example .carousel-control {
    width: 10%;
    background-image: none;

}
#carousel-example .carousel .item {
    min-height: 450px; 
    height: 100%;
    width:100%; 

}
#carousel-example .carousel-caption {
    left: 0;
    position: relative;
    right: 0;
    float: left;
}
#carousel-example .carousel .carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
#carousel-example .carousel .carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
#carousel-example .carousel-control  img{
top: 50%;
    position: relative;
    float: left;
    height: 2em;
}

#carousel-example .carousel-caption .animatedBlock {
padding: .5em;
    text-align: left;
    left: 10%;
    top:20%;
    height: 100%;
    margin-top: -12%;
    top: auto;
text-shadow: none;
    vertical-align: middle;
    position: relative;
}
#carousel-example .carousel-caption .animatedBlock  p{
    width:25%;
  line-height: 1em;
  box-shadow: none;
  color: #333333;

  text-align: justify;
}
#carousel-example .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: left;
}

#carousel-example .carousel .carousel-indicators {
    left: 10%;
    bottom:5px;
}
/* Animation delays */
#carousel-example .carousel-caption .animatedBlock:first-child {
    animation-delay: 1s;
}
#carousel-example .carousel-caption .animatedBlock:nth-child(2) {
    animation-delay: 1.2s;
}
#carousel-example .carousel-caption button {
    animation-delay: 1.4s;
    background: none;
    border: 1px solid grey;
    
    color: #333333;
    padding: -10px;
    margin-top: 30px;
    border-radius: 10px;
}
#carousel-example .carousel-caption button:hover{
    background: none;
    color: #333;
}

#carousel-example .carousel-caption article {
    color: #333333;
    font-size: 5rem;
    float: left;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


  /* Arrow Button 
    -----------------------------------*/
  /* Arrow Button 
    -----------------------------------*/
  .container-arrow{
    margin-top: -20px;
    font-weight: bold;
    text-transform: uppercase;
    color:#000;
    display: inline-block;
    text-align: center;
      line-height: 40px;
      position: absolute;
      bottom:0;left:0;
      z-index: 10;
      width:100%;
      padding-bottom: 15px;
      cursor: pointer;
      font-size: 12px; 
    }
    .container-arrow:hover,
    .container-arrow:focus{text-decoration: none;}

        /* Arrow Bouncing */
        .container-arrow span{  display: inline-block; font-size: 80px;  animation: .7s down  infinite alternate; -webkit-animation: .7s down infinite alternate; } 
        /***Animation Arrow down***/ 
        @keyframes down{ 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} } 
        @-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(20px)} } 
        
/*Jjj**/
#grid { 
      display: grid;
      grid-template-columns: 40rem 35rem 40rem ; /* twee kolommen */ 
      grid-template-rows: 38rem 25rem; /* drie rijen */ 
      width: 100%;
}

.animate, .animate2{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 2em;
  width: 400px;
  position: absolute;
  top: 5%;
  right: -400px;
}
 
#gebied1 { 
      grid-column: 1; 
       grid-row-start: 1;
      grid-row-end: 3;
   font-family: proxima-nova;
    font-weight: 200;
 

} 
#gebied1  h2,h3{
 
    letter-spacing: 1px;
    font-weight: 550;
    font-size:3.5rem;
}
#gebied1  h1 {

    font-size: 8rem;

}
#gebied2 { 
      grid-column: 2; 
       grid-row:1;
background-color: white;

} 
.listing #gebied2  img {
    display: block;
    margin:0 auto;
    width:100%;


}
#gebied3 { 
      grid-column: 3; 
       grid-row:1;
      background-color: #edf1f2;
      color: #363636;

} 
#gebied4 { 
      grid-column: 4; 
       grid-row:1;
      background-color:#edf1f2;
      color: white;

} 

#gebied5 { 
      grid-column: 2; 
       grid-row:2;
    color: #fff;
    background: linear-gradient(-124deg, #e1e9e3, #b4c9b9, #768151);
    background-size: 1800% 1800%;
    -webkit-animation: Gradient 8s ease infinite;
    -moz-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;

} 
#gebied5 p {
    padding: 20% ;
    color: #363636;
    font-weight: 600;
}
#gebied5>a {
    display: block;
    float: left;
    text-align: left;
    margin-left: 20%;
    padding: 7.5% 5%;
    color: white;
    cursor: pointer;
    text-decoration: none;
border-bottom: 5px solid white;
    vertical-align: bottom;

}
@-webkit-keyframes Gradient {
   0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-moz-keyframes Gradient {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes Gradient {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes Gradient {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#gebied6 { 
      grid-column: 3; 
       grid-row:2;
       color: white;
      background-color:#c5c6c5;

} 
#gebied6 .desc{
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: justify;
    line-height: 14px;
}
#gebied7 { 
      grid-column: 4; 
       grid-row:2;
       color: white;


} 
.listing .slideshow {

  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}


.listing .slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(0);
}
.listing .slide.anim1 {
  animation: anim1 15.5s   infinite;
  transition: 0.85s;
  
}
.listing .slide.anim2 {
  animation: anim2 15.5s infinite;
  transition: 0.85s;
 
}
.listing .slide.anim3 {
  animation: anim3 15.5s  infinite;
  transition: 0.85s;
   
}
.listing .slide.anim4 {
  animation: anim4 15.5s  infinite;
  transition: 0.85s;
   
}

@keyframes anim1 {
  0% {
    transform: translateX(0);
    z-index: 3;
  }
  20.75% {
    transform: translateX(0);
    z-index: 3;
  }
  25% {
    transform: translateX(100%);
    z-index: 3;
  }
  26% {
    transform: translateX(-100%);
    z-index: -1;
  }
  93.75% {
    transform: translateX(-100%);
    z-index: -1;
  }
  100% {
    transform: translateX(0);
    z-index: 3;
  }
}
@keyframes anim2 {
  0% {
    transform: translateX(-100%);
    z-index: -1;
  }
  20.75% {
    transform: translateX(-100%);
    z-index: -1;
  }
  25% {
    transform: translateX(0);
    z-index: 3;
  }
  43.75% {
    transform: translateX(0);
    z-index: 3;
  }
  50% {
    transform: translateX(100%);
    z-index: 3;
  }
  51% {
    transform: translateX(-100%);
    z-index: -1;
  }
  100% {
    transform: translateX(-100%);
    z-index: -1;
  }
}
@keyframes anim3 {
  0% {
    transform: translateX(-100%);
    z-index: -1;
  }
  43.75% {
    transform: translateX(-100%);
    z-index: -1;
  }
  50% {
    transform: translateX(0);
    z-index: 3;
  }
  68.75% {
    transform: translateX(0);
    z-index: 3;
  }
  75% {
    transform: translateX(100%);
    z-index: 3;
  }

  100% {
    transform: translateX(-100%);
    z-index: -1;
  }
}
@keyframes anim4 {
  0% {
    transform: translateX(-100%);
    z-index: -1;
  }
  68.75% {
    transform: translateX(-100%);
    z-index: -1;
  }
  75% {
    transform: translateX(0);
    z-index: 3;
  }
  93.75% {
    transform: translateX(0);
    z-index: 3;
  }
  100% {
    transform: translateX(100%);
    z-index: 3;
  }
}


.listing .lead{
    font-size: 42px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}


.listing  .carousel-caption .desc{
    z-index: 20;
    font-family: proxima-nova;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 42px;
    padding: 15px;
}

/*desc slider*/

.listing  .descslider{
  text-align: center;
  position: relative;
    height: 150px;
    top:25%;
        overflow-y: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.listing  .descslider li{
    width: 100%;
    list-style-type: none;
    position: absolute;
    height: 150px;
    top: -165px;
    text-align: center;
}

.listing  .descslider li#first {
   animation: cycle 8s ease-out infinite;
}

.listing  .descslider li#second {
   animation: cycletwo 8s ease-out infinite;
}

.listing  .descslider li#third {
   animation: cyclethree 8s ease-out infinite;
}
@keyframes cycle {
   0%  { top: -55px; opacity:1} 
   6%  { top: 0px; opacity:1}
   26% { top: 0px; opacity:1; z-index:20; } 
   33% { top: 55px; opacity: 0; z-index: 20; } 
   34% { top: -55px; opacity: 0; z-index: -1; } 
   92% { top: -55px; opacity: 0; z-index: 20; }
   96% { top: -55px; opacity: 0; } 
   100%{ top: -55px; opacity: 0; }
}

@keyframes cycletwo {
   0%  { top: -55px; opacity: 0; } 
   26% { top: -55px; opacity: 0; }
   32% { top: 0px; opacity: 1; }
   38% { top: 0px; opacity: 1; } 
   56% { top: 0px; opacity: 1; z-index: 20; }  
   62% { top: 55px; opacity: 0; z-index: 20; } 
   63% { top: -55px; opacity: 0; z-index: -1; }  
   100%{ top: -55px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  {top: -55px; opacity: 0; }
   56% { top: -55px; opacity: 0; }
   62% { top: 0px; opacity: 1; }
   68% { top: 0px; opacity: 1; }
   86% { top: 0px; opacity: 1; }
   92% { top: 55px; opacity: 0; z-index: 20; }
   93% { top: -55px; opacity: 0; z-index: -1; }
   100%{ top: -55px; opacity: 0; z-index: -1; }
}
.listing  .descslider2{
  text-align: center;
  position: relative;
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.listing  .descslider2 li {
    width: 100%;

    list-style-type: none;
    position: absolute;

    bottom: -165px;

    text-align: center;
}

.listing  .descslider2 li#first {
   animation: bouncedown 10s ease-out infinite;
}

.listing  .descslider2 li#second {
   animation: bouncedowntwo 10s ease-out infinite;
}


.listing  .descslider2 li#third {
   animation: bouncedownthree 10s  ease infinite;

}
.listing  .descslider2 li#third img {
    top:40%;
 
 

}

/* ANIMATION */


@keyframes bouncedown {
   0%  { bottom: -55px; opacity:1} 
   6%  { bottom: 0px; opacity:1}
   26% { bottom: 0px; opacity:1; z-index:20; } 
   30% { bottom: -55px; opacity: 0; z-index: -1; } 
   96% { bottom: -55px; opacity: 0; } 
   100%{ bottom: -55px; opacity: 0; }
}

@keyframes bouncedowntwo {
   0%  { bottom: -55px; opacity: 0; } 
   26% { bottom: -55px; opacity: 0; }
   30% { bottom: 0px; opacity: 1; }
   38% { bottom: 0px; opacity: 1; } 
   56% { bottom: 0px; opacity: 1; z-index: 20; }  
   60% { bottom: -55px; opacity: 0; z-index: 20; } 
 
   100%{ bottom: -55px; opacity: 0; z-index: -1; }
}

@keyframes bouncedownthree {
   0%  {bottom: 105px;right: -105px; opacity: 0;  }
   56% { bottom: 105px;right: -105px; opacity: 0;  }  
   67.5% { bottom: 105px;right: -50px; opacity: 1;  }

   68% { bottom: 105px; right: -50px; opacity: 1;   }
     72% { bottom: 105px; right: -50px; opacity: 1;   }
   86% { bottom: 105px; right: -105px; opacity: 0; z-index: 20;   }

   100%{ bottom: 205px; right: -200px; opacity: 0; z-index: -1; }
}
.listing  .descslider3{
  text-align: center;
  position: relative;
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    color: #363636;
    overflow-x: hidden;
}

.listing  .descslider3 li {
    width: 100%;

    list-style-type: none;
    position: absolute;

    bottom: -5px;

    text-align: center;
}

.listing  .descslider3 li#first {
   animation: first 9.5s ease-out infinite;
 height: 50%;
 padding: 25px;
 border-top: 1.5px solid #ccc;
  border-left: 1.5px solid #ccc;
   border-right: 1.5px solid #ccc;
}

.listing  .descslider3 li#second {
     padding: 25px;
 border-top: 1.5px solid #ccc;
  border-left: 1.5px solid #ccc;
   border-right: 1.5px solid #ccc;
   animation: second 9.5s ease-out infinite;
 height: 50%;
}


.listing  .descslider3 li#third {
   animation: third 9.5s  ease infinite;

}
.listing  .descslider3 li#third img {
    top:20%;
    width: 100%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
float: right;

}
/* ANIMATION */


@keyframes first {
   0%  { bottom: -155px; opacity:1} 
   6%  { bottom: 0px; opacity:1}
   26% { bottom: 0px; opacity:1; z-index:20; } 
   33% { bottom: 55px; opacity: 0; z-index: 20; } 
   34% { bottom: -55px; opacity: 0; z-index: -1; } 
   92% { bottom: -55px; opacity: 0; z-index: 20; }
   96% { bottom: -55px; opacity: 0; } 
   100%{ bottom: -55px; opacity: 0; }
}

@keyframes second {
   0%  { bottom: -55px; opacity: 0; } 
   26% { bottom: -55px; opacity: 0; }
   32% { bottom: 0px; opacity: 1; }
   38% { bottom: 0px; opacity: 1; } 
   49% { bottom: 0px; opacity: 1; z-index: 20; }  
   60% { bottom: 55px; opacity: 0; z-index: 20; } 
   63% { bottom: -55px; opacity: 0; z-index: -1; }  
   100%{ bottom: -55px; opacity: 0; z-index: -1; }
}

@keyframes third {
   0%  {bottom: 20%;right: -105px; opacity: 0;  }
   56% { bottom: 20%x;right: -105px; opacity: 0;  }  
   62% { bottom: 20%;right: 0px; opacity: 1;  }

   68% { bottom: 20%; right: 0px; opacity: 1;   }
     72% { bottom:20%; right: 0px; opacity: 1;   }
   86% { bottom: 20%; right: -105px; opacity: 0; z-index: 20;   }

   100%{ bottom:20%; right: -200px; opacity: 0; z-index: -1; }
}
.listing .box {
  position: relative;
  width: auto;
  height: auto;
  padding-left:20px;
  padding-top:15px;
  padding-bottom: 15px;
  margin: 0 auto;

  animation: border 2s linear infinite;
}
@keyframes border {
  50% {
    border-color: none;
  }
  100% {
    border-color: #ffffff;
  }
}
.listing .top,
.listing .bottom,
.listing .left,
.listing .right {
  position: absolute;
  background: #ccc;
  animation: 2s linear infinite;
}
.listing .top {
  top: -5px;
  left: -5px;
  height: 1px;
  animation-name: top;
}
@keyframes top {
  25% {
    width: 0;
    background: #ccc;
  }
  38% {
    width: calc(103%);
    background: #ccc;
  }
  50% {
    background: #ccc;
  }
  62% {
    background:#ccc;
  }
  75% {
    width: calc(103%);
    background: #ccc;
  }
  88% {
    left: auto;
    right: -5px;
    width: 0;
    background: #ccc;
  }
}
.listing .bottom {
  bottom: -5px;
  right: -5px;
  height: 1px;
  animation-name: bottom;
}
@keyframes bottom {
  0% {
    width: 0;
  }
  12% {
    width: calc(103%);
    background:#ccc;
  }
  25% {
    background: #ccc;
  }
  38% {
    background:#ccc;
  }
  50% {
    width: calc(103%);
    background:#ccc;
  }
  62% {
    left: -5px;
    width: 0;
    background:#ccc;
  }
  75% {
    background:#ccc;
  }
}
.listing .left {
  bottom: -5px;
  left: -5px;
  width: 1px;
  animation-name: left;
}
@keyframes left {
  12% {
    height: 0;
    background: #ccc;
  }
  25% {
    height: calc(103%);
    background:#ccc;
  }
  38% {
    background:#ccc;
  }
  50% {
    background: #ccc;
  }
  62% {
    height: calc(103%);
    background:#ccc;
  }
  75% {
    top: -5px;
    height: 0;
    background:#ccc;
  }
  88% {
    background: #ccc;
  }
}

/*BEST SELLERS**/
.best_sellers article{
text-align: center;
margin:1.5em;
font-size: 3rem;

}


.best_sellers .carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.best_sellers .carousel-fade .carousel-inner .active {
  opacity: 1;
}

.best_sellers .carousel-fade .carousel-inner .active.left,
.best_sellers .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.best_sellers .carousel-fade .carousel-inner .next.left,
.best_sellers .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.best_sellers .carousel-fade .carousel-control {
  z-index: 2;
} 
.best_sellers .carousel-control {
    width: 10%;

}
.best_sellers [data-slide='prev'] img{ 
left: 900%;
}
.best_sellers  .carousel .item {
    min-height: 450px; 
    height: 100%;
    width:100%; 
}
.best_sellers  .carousel-caption {
    left: 0;
    position: relative;
    right: 0;
    float: left;
}
.best_sellers  .carousel .carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.best_sellers e .carousel .carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.best_sellers  .carousel-control  img{
top: 50%;
    position: relative;
    float: left;
    height: 2em;
}

.best_sellers  .carousel-caption .animatedBlock {
padding: .5em;
    text-align: left;
    left: 10%;
    top:20%;
    height: 100%;
    margin-top: -12%;
    top: auto;
text-shadow: none;
    vertical-align: middle;
    position: relative;
}
.best_sellers  .carousel-caption .animatedBlock  p{
    width:25%;
  line-height: 1em;
  box-shadow: none;
  color: #333333;

  text-align: justify;
}
.best_sellers  .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: left;
}

#carousel-example .carousel .carousel-indicators {
    left: 10%;
    bottom:5px;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .best_sellers .carousel-fade .carousel-inner > .item.next,
    .best_sellers .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .best_sellers .carousel-fade .carousel-inner > .item.prev,
    .best_sellers .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
   .best_sellers .carousel-fade .carousel-inner > .item.next.left,
    .best_sellers .carousel-fade .carousel-inner > .item.prev.right,
    .best_sellers .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.best_sellers .carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px
}
.best_sellers .carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}


   .best_sellers .item>img {
 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }
    .best_sellers .item_container{

            display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    height: 400px;
    }
    .best_sellers .block_item {
    width: 50%;
    padding: 0;
    height:auto;    
       position: relative;
    text-align: center;
    line-height: 100px;        

}
.best_sellers .block_item .centered {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    line-height: 1em;
   
}
.best_sellers .block_item .centered .animatedBlock{
        position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    line-height: 1em;
    transform: translate(-50%, -50%);   
}

.best_sellers .block_item .centered  h3{
    margin:0.4em;
}
.best_sellers .block_item .centered  h4{
    font-weight: 600;

}
.best_sellers .block_item .centered p{
    text-align: justify;
     margin:1.8em;
}

.best_sellers .block_item .centered a{
    color: black;
    font-weight: 600;
      display: inline-block;
      cursor: pointer;

}
.best_sellers .block_item .centered a:hover{
    text-decoration: none;
    color: black;
    
}
.best_sellers .block_item .centered a::after {
    content: '';
    display: block;
    width: 0;
    margin-top:10px;
    height: 3px;
    background: #B8B8B8;
    transition: width .3s;
}
.best_sellers .carousel-control img {
    position: absolute;
    top: 85%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;}

.best_sellers .block_item .centered a:hover::after {
    width: 100%;
 
}
.best_sellers  .fadeInUp {
  -webkit-animation: fadeInUp 2s; /* Safari 4+ */
  -moz-animation:    fadeInUp 2s; /* Fx 5+ */
  -o-animation:      fadeInUp 2s; /* Opera 12+ */
  animation:         fadeInUp 2s; /* IE 10+, Fx 29+ */
}
.best_sellers  .fadeIn {
  -webkit-animation: fadeIn 1.5s; /* Safari 4+ */
  -moz-animation:    fadeIn 1.5s; /* Fx 5+ */
  -o-animation:      fadeIn 1.5s; /* Opera 12+ */
  animation:         fadeIn 1.5s; /* IE 10+, Fx 29+ */
}
 
 /**PRODUCT SLIDER***/
 .product {
  padding-bottom: 5%;
 }
 .product a {
  color: #333;
  text-transform: capitalize;
  font-size: 20px;
}
.product .item a:hover{
    color: #EA920B;
}
 .product article{

text-align: center;
font-size:3rem;
margin: 2rem 0 5rem 0;
}

 .product a:hover {
  color: #ccc;
  text-decoration: none;
}
   .product .carousel-inner {
  margin: auto;
  width: 80%;
}
 .product .carousel-inner .item {
    min-height: 0px;
    transition: 0.5s;
 }
 .product .carousel-inner .item  h4 {
text-align: center;
  
 }
  .product .carousel-control {
  
  height:130px ;
  top:20%;
}

.product .carousel-control.left, .product .carousel-control.right {
  background-image: none;
}
.product .carousel-control img {
    height: 35px;
    background-color: #ccc;
    padding: 3px;
    border-radius: 30px;
}

  .product .carousel-inner a {
 width: 300px;
  height: 200px;
  vertical-align: middle;
}
 .product .carousel-inner img {
  max-height: 150px;
  margin: auto auto;
   width: auto;
  max-width: 100%;
}
@media (max-width: 767px) {
   .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
   .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px) {
   .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
 .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}



/*SUBSCRIBE*/
.subscribe{
 
 height: 50rem;

background-color:  rgba(0, 0, 0, 0.2);

}
 

.subscribe>div{
    top:35%;
    left: 10%;
    color: white;
padding-top: 10%;
    text-align: left;
 
}
.subscribe form{
    color: white;

   margin-top:10%;
 

    
}
.subscribe form {
 
  display: block;
  margin: 0 auto;
 }
.subscribe .group         { 
    display: block;
  margin: 0 auto;
  width: 80%;
  position:relative; 
  margin-bottom:45px; 
}
.subscribe input[type=text]         {

  font-size:18px;
  padding:10px 10px 10px 0px;
  display:block;
  width:20em;
  border:none;
  border-bottom:2px solid white;
  margin-bottom: 2em;
}
.subscribe input:focus     { outline:none; }

/* LABEL ======================================= */
.subscribe label          {
  color:white; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
}

/* active state */
.subscribe input:focus ~ label, .subscribe input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:white;
}

/* BOTTOM BARS ================================= */
.subscribe .bar  { position:relative; display:block; width:300px; }
.subscribe .bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:red; 
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
}
.subscribe .bar:before {
  left:50%;
}
.subscribe .bar:after {
  right:50%; 
}

/* active state */
.subscribe input:focus ~ .bar:before, .subscribe_article input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.subscribe .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
.subscribe form input{
 

  transition: 0.6s;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
}
.subscribe form input::placeholder {
    color: white;
}
.subscribe form [type=submit]  {
   font-size: 14px;
    
   padding:4px;
   margin-top: 2rem;
   margin-left: 3rem;

}
.subscribe form [type=text]{
    width: 15em;
float: left;
      font-size: 20px;
}



/*FOLLOW. POST. CONNECT*/

.follow article{
  font-size: 3rem;
  text-align: center;
}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav, .eapps-instagram-feed-posts-slider-prev {
 background: url('img/arrow_right.png');
}
.eapps-instagram-feed-posts-slider-next,.eapps-instagram-feed-posts-slider-prev {
    right: 0;
    transform: none  !important;
    box-shadow:none;
}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav {
    background-color: none !important;
 
}
.eapps-instagram-feed-posts-slider-nav {
    background: none;
    position: absolute;
    top: 45%  !important;
 
    /* right: 20%; */
    width: 40px  !important;
    height: 40px  !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.2s;
    backface-visibility: hidden;
}
.eapps-instagram-feed-title-container {
  display: none  !important;
}

 #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav {
    /* background: url('img/arrow_right.png') !important;*/
      background-size: 45px !important;
}
.eapps-instagram-feed-posts-slider-prev {
    background: url('img/arrow_left.png') !important;
    background-color: #ccc;
  margin-left: -5px;
      background-size: 45px !important;
          box-shadow:none !important;
}
.eapps-instagram-feed-posts-slider-next {
  background-color: #ccc;
 
    background: url('img/arrow_right.png') !important;
      background-size: 45px !important;
          box-shadow:none !important;
}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav {
    background: rgba(0, 0, 0, 0.)!important;
}
.eapps-instagram-feed-posts-slider-nav {
    /* background: #000; */
   
      /* background: url('img/arrow_right.png')!important;*/
    position: absolute;
    top: 45% !important;

    /* right: 20%; */
    width: 40px !important;
    height: 40px !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.2s;
    backface-visibility: hidden;
} 
.eapps-instagram-feed-posts-slider-nav-icon path{
 display: none;
}
 
/*RESPOSIVE  */
@media only screen and (min-width: 641px) and (max-width :760px) {
#menu {
  margin-top: 2%;
  width: 100%;
}
#menu ul {
  margin-top: 2%;
} 
nav li a {
    padding: 2px;
}
 
.container-arrow{
  display: none;
}
#carousel-example {
   
    padding-top: 12%;
    height: 40%;

}
.carousel-indicators{
  display: none;
}
#carousel-example .carousel-inner .zoom img{
 height: 25%;
 width: 120%;
 overflow: hidden;
 transform: scale(1.5);
}
#carousel-example .carousel-caption  {
margin-top: -13%;
padding: 0;
background-color: rgba(255, 255,255, 0.8);
}
#carousel-example .carousel-caption .animatedBlock  article {
   font-size: 2rem;
   text-align: center;
   left: 0;
   float: none;
}
#carousel-example .carousel-caption .animatedBlock p {
   line-height: 2rem;
   font-size: 1.1rem;
   text-align: center;
   width: 100%;
   padding:  0 10% ;
}
#carousel-example .carousel-caption .animatedBlock {
left: 0;
width: 100%;
display: block;
margin: 0 auto;
}
#carousel-example .carousel-control   {
  display: none;
}
#carousel-example .carousel-caption button {
     
       display: block;
    margin: 0 auto;
     
    padding: -5px;
    margin-top: 5px;
    font-size: 1.2rem;
 
}
#grid {
    display: grid;
    grid-template-columns: 35rem 35rem 40rem;
    grid-template-rows: 38rem 25rem;
    width: 100%;
}
.best_sellers .block_item .centered {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%; 
    line-height: 1em;
}
#gebied1 h2, h3 {
  
    font-size: 2.5rem;
}
.best_sellers{
  padding-top: 0;
}
.best_sellers .carousel-inner{
  overflow: visible;
}
.best_sellers article{
text-align: center;
margin:1.5em;
font-size: 3rem;
margin-top: 10%%;
}

.best_sellers .block_item {
    width: 100%;
  }

.best_sellers .block_item .centered h3, h4{
  margin: 0.8em;
  font-size: 2.5rem;
}

.best_sellers .block_item .centered {
     top: 10%;
    left: 5%;
    width: 90%;
}

.best_sellers .block_item .centered  p {
  margin: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}
.best_sellers .block_item .centered a {
 margin-top: 1%;
    font-weight: 500;
     font-size: 2.5rem;
}
.best_sellers .carousel-control {
  opacity: 0.9 !important;
}
.best_sellers .carousel-control img {
    position: absolute;
    top: 30%;
    background-color: #f7f7f7;
   
}
.best_sellers [data-slide='prev'] img{ 
left: -3%;
opacity: 1;
}
.best_sellers [data-slide='next'] img{ 
right: 2%;
}

#separate{
  display: none;
}
#separate {
  margin-left:-5px !important;
}
.product  {
  padding-top: 70%;
}
.product  .carousel {
  padding-top: 5%;
 
    
}
.product article {
text-align: center;
margin-top:5em;
 
    font-size: 3rem;
 
}
.carousel-control.right {
    
    background-image: none !important;
  }






  .product .carousel-inner .active.left { left: -100%; }
  .product  .carousel-inner .next        { left:  100%; }
 .product  .carousel-inner .prev    { left: -100%; }
  .product  .active > div { display:none; }
  .product  .active > div:first-child { display:block; }
#join{

  font-size: 2rem;
}
.subscribe{
  height:auto;
}
.subscribe>div{
top:15%;
left: 0;
text-align: center;
}
.subscribe form{
 margin-left: 0;
}
.subscribe form input{
 margin-left: 0;
}
 
.subscribe form [type=text] {
    width: 100%;
    display: block;
    font-size: 20px;
}
.subscribe form [type=submit] {
 
    margin-top: 10%;
}

.follow article{
  font-size: 2rem;
  text-align: center;
}
 footer p {
    margin-top: 2%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
}
@media only screen and (min-width: 768px) and (max-width :960px) {
   #menu {
        max-height: 0;
        -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
       -ms-transition: all .25s linear;
       transition: all .25s linear;
        width:100%;
    }
   .menu{
      height: auto;
    }
    #menu ul {
      display: block;
      padding-top: 0px;
      width:100%;
      padding-left: 0 !important;

    }
    #menu > li {
        display: inline-block;
        float: none;
        width: 100%;
        text-align:center;
    }
    .toggle {
       
        background-repeat: no-repeat;
    display: block;
 
    margin-right: 10%;
    }
    #toggle:checked ~ #menu {
      max-height: 35em;
           padding-left: 0 !important;
     -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
     -ms-transition: all .25s linear;
     transition: all .25s linear;
    }
    .toggle:after {
       content: '\f0c9';
       color:white;
       opacity: 0;
    
    }
    #toggle:checked + .toggle:after{
        content: '\f00d';
        color: white;
        opacity: 0;
    }

.container-arrow{
  display: none;
}
#carousel-example {
   
    padding-top: 10%;
 
}
.carousel-indicators{
  display: none;
}
#carousel-example .carousel-inner .zoom img{
 height: 25rem;
 width: 130%;
 overflow: hidden;
 transform: scale(1.5);
}
#carousel-example .carousel-caption  {
margin-top: -4%;
padding: 0;
background-color: rgba(255, 255,255, 0.8);
}
#carousel-example .carousel-caption .animatedBlock  article {
   font-size: 2rem;
   text-align: center;
   left: 0;
   float: none;
}
#carousel-example .carousel-caption .animatedBlock p {
   line-height: 2rem;
   font-size: 1.1rem;
   text-align: center;
   width: 100%;
   padding:  0 10% ;
}
#carousel-example .carousel-caption .animatedBlock {
left: 0;
width: 100%;
display: block;
margin: 0 auto;
}
#carousel-example .carousel-control   {
  display: none;
}
#carousel-example .carousel-caption button {
     
       display: block;
    margin: 0 auto;
     
    padding: -5px;
    margin-top: 5px;
    font-size: 1.2rem;
 
}
#grid{
  grid-template-columns: 42rem 35rem 40rem;
}
.best_sellers .block_item .centered {
 
    top: 10%;
    left: 10%;
    width: 80%;
  }
  .carousel-control.right {
    /* right: 0; */
    right: 15px;
    height: 60%;
  }
    .carousel-control.left {
    /* right: 0; */
    right: 15px;
    height: 60%;
  }
  #separate{
    display: none;
  }
  .product{
    margin-top: -15%;
  }
  .subscribe {
    height: 40rem;
}
footer p {
    margin-top: 2%;
 margin-left: 0%; 
    margin-right: 0%; 
}

}
@media only screen and (width :1024px)  {
#grid {
    grid-template-columns: 35rem 30rem 40rem;
}
.best_sellers .block_item .centered {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    line-height: 1em;
}
.best_sellers .carousel-control {
    width: 10%;
    height: 80%;
}
.col-md-6 {
     width: 100%;
}
.subscribe {
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.2);
}
.subscribe>div {
    top: 35%;
    left: 10%;
    color: white;
    padding-top: 10%;
    text-align: center;
}
footer .col-md-6{
  width: auto;
}
footer p {
    margin-top: 2%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


}

@media only screen and (max-width :640px)  {
  body{
 
   
    background-size: 100% 100%;}
    #menu {
        max-height: 0;
        -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
       -ms-transition: all .25s linear;
       transition: all .25s linear;
        width:100%;
    }
   .menu{
      height: auto;
    }
    #menu ul {
      display: block;
      padding-top: 0px;
      width:100%;
      padding-left: 0 !important;

    }
    #menu > li {
        display: inline-block;
        float: none;
        width: 100%;
        text-align:center;
    }
    .toggle {
       
        background-repeat: no-repeat;
    display: block;
 
    margin-right: 10%;
    }
    #toggle:checked ~ #menu {
      max-height: 35em;
           padding-left: 0 !important;
     -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
     -ms-transition: all .25s linear;
     transition: all .25s linear;
    }
    .toggle:after {
       content: '\f0c9';
       color:white;
       opacity: 0;
    
    }
    #toggle:checked + .toggle:after{
        content: '\f00d';
        color: white;
        opacity: 0;
    }

.container-arrow{
  display: none;
}
#carousel-example {
   
    padding-top: 19%;
    height: 40%;

}
.carousel-indicators{
  display: none;
}
#carousel-example .carousel-inner .zoom img{
 height: 20rem;
 width: 120%;
 overflow: hidden;
 transform: scale(1.5);
}
#carousel-example .carousel-caption  {
margin-top: -10%;
padding: 0;
background-color: rgba(255, 255,255, 0.8);
}
#carousel-example .carousel-caption .animatedBlock  article {
   font-size: 2rem;
   text-align: center;
   left: 0;
   float: none;
}
#carousel-example .carousel-caption .animatedBlock p {
   line-height: 2rem;
   font-size: 1.1rem;
   text-align: center;
   width: 100%;
   padding:  0 10% ;
}
#carousel-example .carousel-caption .animatedBlock {
left: 0;
width: 100%;
display: block;
margin: 0 auto;
}
#carousel-example .carousel-control   {
  display: none;
}
#carousel-example .carousel-caption button {
     
       display: block;
    margin: 0 auto;
     
    padding: -5px;
    margin-top: 5px;
    font-size: 1.2rem;
 
}
.best_sellers{
  padding-top: 45%;
}
.best_sellers .carousel-inner{
  overflow: visible;
}
.best_sellers article{
text-align: center;
margin:1.5em;
font-size: 2rem;
margin-top: 25%;
}

.best_sellers .block_item {
    width: 100%;
  }

.best_sellers .block_item .centered h3, h4{
  margin: 0.8em;
  font-size: 1.5rem;
}

.best_sellers .block_item .centered {
     top: 5%;
    left: 5%;
    width: 90%;
}

.best_sellers .block_item .centered  p {
  margin: 3rem;
  text-align: center;
}
.best_sellers .block_item .centered a {
 margin-top: 1%;
    font-weight: 500;
     font-size: 1.5rem;
}
.best_sellers .carousel-control {
  opacity: 0.9 !important;
}
.best_sellers .carousel-control img {
    position: absolute;
    top: 30%;
    background-color: #f7f7f7;
   
}
.best_sellers [data-slide='prev'] img{ 
left: -3%;
opacity: 1;
}
.best_sellers [data-slide='next'] img{ 
left: -3%;
}
#separate{
  display: none;
}

    .listing {
      display: none !important;
    }
.product  {
  padding-top: 10%;
}
.product  .carousel {
  padding-top: 5%;
}
.col-xs-3 {
    width: 100%;
}
.product article {
text-align: center;
margin-top:5em;
 
    font-size: 2rem;
 
}
.carousel-control.right {
    
    background-image: none !important;
  }






  .product .carousel-inner .active.left { left: -100%; }
  .product  .carousel-inner .next        { left:  100%; }
 .product  .carousel-inner .prev    { left: -100%; }
  .product  .active > div { display:none; }
  .product  .active > div:first-child { display:block; }

.subscribe{
  height:auto;
}
.subscribe>div{
top:15%;
left: 0;
text-align: center;
}
.subscribe form{
 margin-left: 0;
}
.subscribe form input{
 margin-left: 0;
}
 .subscribe p{
  margin-bottom:15%;
 }
.subscribe form [type=text] {
    width: 100%;
    display: block;
    font-size: 20px;
}
.subscribe form [type=submit] {
 margin-left: 0;
    margin-top: 10%;
}

.follow article{
  font-size: 2rem;
  text-align: center;
}
}
/*FOOTER*/
 footer{ 
  
  width:100%;
  background-color: #333; 
  color: white;
  height: auto;
  bottom: 0;
  display: table;
  
}
footer .social{
  float: right; 
  text-align: right;
}
footer p {
   margin:0 auto;
 margin-top:10%;

}
footer .copyright {
  text-align: left;
}
footer p img {
    height: 25px;
    margin:15px;
}
 footer p {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 10%;
}
}

@media only screen and (min-width :1000px)  and (max-width:1100px ){
  .best_sellers .block_item .centered {
      top: 5%;
  }
  .best_sellers .item_container {
 
    height: auto;
  }
    #grid {
    grid-template-columns: 35rem 35rem 34rem;
  }
  .subscribe form input {
    margin-left: 30px;
  }
  .subscribe form [type=text] {
    width: 14em;
  }
}

@media only screen and (max-width : 640px)  {

    footer .social{
padding-top: 5%;
float: none  ;
text-align: center ;
}
footer .copyright{
    text-align: center;
}
 footer p {
    margin: 0 auto;
    margin-top: 10%;
}


  }

